/* Stylesheet in CSS for profile card component @frontendmentor.io */

* { margin: 0; padding: 0; }

@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

body {
   text-align: center;
   color: hsl(229, 23%, 23%);
   font-size: 18px;
   font-weight: 700;
   font-family: 'Kumbh Sans', sans-serif;
   background: url(../images/bg-pattern-top.svg), url(../images/bg-pattern-bottom.svg);
   background-repeat: no-repeat;
   background-position-x: 5vw, 50vw;
   background-position-y: -30vh, 50vh;
   background-color:  hsl(185, 75%, 39%);
}

.attribution { font-size: 11px; font-weight: 400; bottom: 0; }
.attribution a { color: hsl(228, 45%, 44%); }
.attribution, .card {
   position: absolute;
   left: 50%;
   transform: translate(-50%, -50%);
}

.card {
   top: 50%;
   width: 350px;
   border-radius: 15px;
   background-color: white;
   box-shadow: 0 0 100px rgba(0, 0, 0, 0.2);
}
.card-top {
   border-radius: 15px 15px 0 0;
}
.card-pic {
   margin-top: -56px;
   border-radius: 50%;
   border: 5px solid white;
}

.card-info {
   padding: 20px 0;
}
.card-info h1 {
   font-size: 18px;
}
.card-info h1 span {
   margin-left: 8px;
}
.card-info p {
   padding: 6px 0 4px 0;
   font-size: 14px;
}

.card-bottom {
   padding: 22px 0;
   border-top: 1px solid hsl(0, 0%, 88%);
}
.stat {
   width: 28%;
   display: inline-block;
}
.stat span {
   font-size: 12px;
}

.card-info p, .card-info h1 span, .stat span {
   font-weight: 400;
   color: hsl(227, 10%, 46%);
}
